body {
    text-align: center;
    background: url('wallpaper.png') no-repeat;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "Roboto";
    src: url(./Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./Fonts/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(./Fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(./Fonts/Inconsolata-Regular.ttf);
}

#wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body > h1 {
    font-family: "Roboto Condensed", Arial;
    font-size: 90px;
    color: #111;
    margin-top: 50px;
}

body > h1 + button {
    margin-top: 200px;
}

body > button {
    background: #822;
    border: none;

    font-family: "Roboto Condensed";
    font-size: 30px;

    display: block;
    position: relative;
    margin: 16px auto;
    padding: 20px;
    width: 300px;
    outline: none;
    box-shadow: 0 8px 0 0 #611;

    top: 0px;
    transition: top .1s, box-shadow .1s, background .1s;
}

body > button:hover {
    background: #a33;
    box-shadow: 0 8px 0 0 #822;
}

body > button:active {
    box-shadow: 0 0 0 0 #111;
    top: 8px;
}

#optionsbtn, #helpbtn {
    width: 145px;
    display: inline-block;
    margin: 0 3px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .2s;
}

#projects, #options, #help {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    background: #ddd;
    height: 600px;
    width: 500px;
    z-index: 1;
    transform: scale(.95);
    opacity: 0;
    transition: transform .2s, opacity .2s, background .2s;

    font-family: "Roboto Condensed";
    font-size: 20px;
    text-align: left;
}

.container {
    padding: 50px;
    overflow-y: scroll;
    height: 393px;
    word-wrap: break-word;
}

.container h4 {
    margin-bottom: 0px;
}
.container p {
    margin: 0;
}

#projects h1, #options h1, #help h1 {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
#projects .closebtn, #options .closebtn, #help .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0px;
    outline: none;
    transition: transform .5s, color .5s, font-weight .5s;
}
#projects .closebtn:hover, #options .closebtn:hover, #help .closebtn:hover {
    transform: rotate(90deg);
    color: #911;
    font-weight: 800;
}

#options ul {
    list-style: none;
}
#options li {
    text-align: left;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    float: right;
    margin-right: 16px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background: #000;
    opacity: .5;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #822;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

#projects table {
    width: 100%;
    border-collapse: collapse;
}

#projects td {
    text-align: center;
    padding: 10px;
}

#projects table .material-icons {
    color: #111;
    transition: color .5s;
}

#projects table .material-icons:hover {
    color: #822;
}
