@font-face {
    font-family: "Roboto";
    src: url(./Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./Fonts/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(./Fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(./Fonts/Inconsolata-Regular.ttf);
}

body {
    margin: 0;
    background: url("wallpaper.png");
    text-align: center;
}

body > h1 {
    font-family: "Ubuntu";
    font-size: 90px;
    font-weight: 800;
    background: transparent;
}

#container {
    margin: 100px auto;
    padding: 80px;
}

#container button {
    background: #a33;
    border: none;

    font-family: "Roboto Condensed";
    font-size: 30px;

    display: block;
    position: relative;
    margin: 16px auto;
    padding: 20px;
    width: 300px;
    outline: none;
    box-shadow: 0 8px 0 0 #822;

    top: 0px;
    transition: top .1s, box-shadow .1s, background .1s;
}
#container button:hover {
    background: #c44;
    box-shadow: 0 8px 0 0 #a33;
}

#container button:active {
    box-shadow: 0 0 0 0 #111;
    top: 8px;
}
#settings_btn, #info_btn {
    width: 145px !important;
    display: inline-block !important;
    margin: 0 3px !important;
    padding: 20px 10px !important;
}