.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    background: #111;

    opacity: 0;
    transition: opacity 1s;
}

.main-menu h1 {
    font-family: "Righteous";
    font-size: 160px;
    font-weight: 400;
    color: #ddd;
    margin: 50px 0;

    position: relative;
    top: 0;
    transition: top .5s;
}

.main-menu button {
    position: relative;
    display: block;
    background: transparent;
    border: 0px solid #111;
    margin: 20px auto;
    padding: 30px;
    width: 400px;
    font-family: Ubuntu;
    font-size: 24px;
    color: #ddd;
    outline: none;
    cursor: pointer;

    opacity: 0;
    transform: translateX(-50px);
    top: 0;
    transition: opacity 1s, transform .75s, top .5s, background .2s, color .2s;
}

.main-menu button:hover {
    background: #111;
    color: #ddd;
}

.main-menu button .material-icons {
    position: relative;
    top: -8px;
    float: left;
    font-size: 40px;

    transform: translateX(30px);
    transition: transform .75s;
}

.main-menu button .material-icons:after {
    content: "";
    position: relative;
    left: 40px;
    top: 0px;
    border-left: 3px solid #888;
    color: #888;
}