/* todo: backup fonts */

body {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    cursor: crosshair;
    outline: none;
}

/* Icons */
@font-face {
    font-family: "Material-icons";
    src: url(../Fonts/MaterialIcons-Regular.ttf);
}
.material-icons {
    font-family: "Material-icons";
    font-style: normal;
    font-size: 24px;
}

/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../Fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(../Fonts/Inconsolata-Regular.ttf);
}

/* Console */

#console #input {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #111;
    color: #888;
    border: none;
    padding: 10px 10px 10px 30px;
    width: 240px;
    font-family: "Inconsolata";
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}

#console::before {
    content: ">";
    font-family: Consolas;
    font-size: 21px;
    color: #aaa;
    position: absolute;
    left: 0;
    bottom: 0px;
    padding: 8px;
    z-index: 5;
}

#console #output {
    position: absolute;
    bottom: 40px;
    left: 0;
    list-style: none;
    padding: 0;
}

#console #output li {
    background: #111;
    color: #888;
    width: 215px;
    margin-top: 15px;
    padding: 20px 20px 20px 5px;
    font-family: "Inconsolata";
    font-size: 16px;
    transition: opacity 1s;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Toolbar */

#toolbar {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -175px;
    width: 350px;
    height: 50px;
    background: #111;
    color: #888;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    font-size: 0;
    opacity: 1;
}

#toolbar .slot {
    height: 50px;
    width: 50px;
    font-family: "Inconsolata";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
    margin: 0;
    display: inline-block;
}
#toolbar .slot:hover {
    background: #222;
}

#toolbar #message {
    position: absolute;
    left: 50%;
    bottom: 60px;
    background: #888;
    color: #000;
    padding: 10px 25px;
    font-family: "Roboto Condensed";
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
    white-space: nowrap;
    pointer-events: none;
    border-radius: 1000px;
}

#toolbar #list {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100px;
    padding: 0;
    margin: 0;
    font-family: "Inconsolata";
    font-size: 20px;
    list-style: none;
    background: #111;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}

#toolbar #list li {
    padding: 10px;
}

#toolbar #list li:hover, #toolbar #list li:active {
    background: #ddd;
}

/* Credits */

#credits {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Inconsolata";
    font-size: 16px;
    font-weight: 600;
    opacity: .8;
}

#credits span {
    position: relative;
    bottom: 4px;
    cursor: pointer;
}

#credits button {
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

/* Debug info */

#debugInfo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #111;
    font-family: "Inconsolata";
    font-size: 16px;
    color: #bbb;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

/* Component info */
#componentInfo {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    background: #bbb;
    opacity: .95;
    font-family: "Inconsolata";
    font-size: 16px;
    color: #333;
    padding: 20px;
    -box-shadow: 0 0 20px rgba(0,0,0,.5);
}

#componentInfo h1 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
    text-align: center;
}

#componentInfo p {
    margin: 2px;
}

#componentInfo span {
    float: right;
    margin-left: 10px;
    opacity: .75;
}

/* Context menu */
#contextMenu {
    position: fixed;
    background: #111;
    opacity: .95;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}

#contextMenu li {
    font-family: Roboto;
    font-size: 16px;
    color: #bbb;
    border-bottom: 1px solid #444;
    padding: 10px;
    cursor: pointer;
}

#contextMenu .material-icons {
    margin-right: 10px;
    vertical-align: -5px;
}

#contextMenu li:hover {
    background: #333;
}

/* Loading screen */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(16,16,16,.5);
    text-align: center;
    padding-top: 20%;
    font-family: "Roboto Condensed";
    font-size: 30px;
    color: #fff;
}