body {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    cursor: crosshair;
}

/* Console */

#console #input {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #111;
    color: #888;
    border: none;
    padding: 10px 10px 10px 30px;
    width: 240px;
    font-family: "Inconsolata";
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}
#console::before {
    content: ">";
    font-family: Consolas;
    font-size: 21px;
    color: #aaa;
    position: absolute;
    left: 0;
    bottom: 0px;
    padding: 8px;
    z-index: 5;
}


#console #output {
    position: absolute;
    bottom: 40px;
    left: 0;
    list-style: none;
    padding: 0;
}
#console #output li {
    background: #111;
    color: #888;
    width: 215px;
    margin-top: 5px;
    padding: 20px 20px 20px 5px;
    font-family: "Inconsolata";
    font-size: 20px;
    transition: opacity 1s;
}

/* Component toolbar */

#componentToolbar {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -175px;
    width: 350px;
    height: 50px;
    background: #eee;
    color: #333;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    font-size: 0;
    opacity: .9;
}
#componentToolbar .slot {
    height: 50px;
    width: 50px;
    font-family: "Roboto Condensed";
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    margin: 0;
    display: inline-block;
}
#componentToolbar .slot:hover {
    background: #ddd;
}
#componentToolbar #selectedMsg {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 300px;
    font-family: "Roboto Condensed", Arial;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity .5s;
}
#componentToolbar #list {
    display: none;
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100px;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed";
    font-size: 20px;
    list-style: none;
    background: #eee;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}
#componentToolbar #list li {
    padding: 10px;
}
#componentToolbar #list li:hover, #componentToolbar #list li:active {
    background: #ddd;
}

/* Credits */

#credits {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Roboto", Arial;
    font-size: 16px;
    font-weight: 600;
    opacity: .33;
}

#credits button {
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
}

/* Debug info */

#debugInfo {
    position: absolute;
    top: 0;
    right: 0;
    background: #111;
    font-family: "Inconsolata";
    font-size: 16px;
    color: #bbb;
    padding: 10px;
}

/* Component info */
#componentInfo {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    background: #111;
    opacity: .95;
    font-family: "Inconsolata";
    font-size: 16px;
    color: #bbb;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

#componentInfo h1 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
    text-align: center;
}

#componentInfo p {
    margin: 2px;
}

#componentInfo span {
    float: right;
    margin-left: 10px;
    opacity: .75;
}

/* Context menu */
#contextMenu {
    display: none;
    position: absolute;
    background: #111;
    opacity: .95;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    outline: none;
}

#contextMenu li {
    font-family: Roboto;
    font-size: 16px;
    color: #bbb;
    border-bottom: 1px solid #444;
    padding: 10px;
}

#contextMenu .material-icons {
    margin-right: 10px;
    vertical-align: -5px;
}

#contextMenu li:hover {
    background: #333;
}