/* todo: backup fonts */

body {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: crosshair;
    outline: none;
}

/* Custom scroll bars */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.3);
    border-radius: 5px;
}

/* Icons */

@font-face {
    font-family: "Material-icons";
    src: url(../Fonts/MaterialIcons-Regular.ttf);
}
.material-icons {
    font-family: "Material-icons";
    font-style: normal;
    font-size: 24px;
}

/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../Fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(../Fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Monospaced";
    src: url(../Fonts/Monospace.ttf);
}

/* Console */

/*#console #input {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: #111;*/
    /*color: #888;*/
    /*border: none;*/
    /*padding: 10px 10px 10px 30px;*/
    /*width: 240px;*/
    /*font-family: "Inconsolata";*/
    /*font-size: 20px;*/
    /*box-shadow: 0 0 20px rgba(0,0,0,.5);*/
    /*outline: none;*/
/*}*/

/*#console::before {*/
    /*content: ">";*/
    /*font-family: Consolas;*/
    /*font-size: 21px;*/
    /*color: #aaa;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0px;*/
    /*padding: 8px;*/
    /*z-index: 5;*/
/*}*/

/*#console #output {*/
    /*position: absolute;*/
    /*bottom: 40px;*/
    /*left: 0;*/
    /*list-style: none;*/
    /*padding: 0;*/
/*}*/

/*#console #output li {*/
    /*background: #111;*/
    /*color: #888;*/
    /*width: 215px;*/
    /*margin-top: 15px;*/
    /*padding: 20px 20px 20px 5px;*/
    /*font-family: "Inconsolata";*/
    /*font-size: 16px;*/
    /*transition: opacity 1s;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,.5);*/
/*}*/

#console {
    position: fixed;
    top: 0;
    left: -400px;
    background: #111;
    opacity: .95;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px;
    width: 400px;
    height: 100%;
    color: #ddd;
}

#console #input {
    color: #ddd;
}

#console #close {
    position: absolute;
    top: 0;
    right: 0;
    color: #444;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
}

#console #messages .message {
    background: #333;
    color: #ddd;
    padding: 10px;
    font-family: "Monospaced";
    margin: 8px;
}

#console #messages .error {
    background: rgba(255,0,0,.1);
    color: red;
    padding: 10px;
    font-family: "Monospaced";
    margin: 8px;
}

#console #messages .input {
    padding-top: 8px;
    margin-left: 30px;
    width: 80%;
    font-family: "Monospaced";
    font-size: 15px;
    color: #ddd;
    text-align: left;
    outline: none;
}

#console #messages .input:before {
    content: '> ';
    position: absolute;
    left: 10px;
    font-family: Consolas;
    font-size: 18px;
    font-weight: 800;
    color: #bbb;
}

#console #messages .output {
    padding-top: 8px;
    margin-left: 30px;
    width: 80%;
    font-family: "Monospaced";
    font-size: 15px;
    text-align: left;
    outline: none;
    color: #666;
}

#console #messages .output:before {
    content: '< ';
    position: absolute;
    left: 10px;
    font-family: Consolas;
    font-size: 18px;
    font-weight: 800;
    color: #ddd;
}

#console #input {
    padding: 20px;
    margin-left: 15px;
    width: 80%;
    font-family: "Monospaced";
    font-size: 15px;
    text-align: left;
    outline: none;
}

#console #input:before {
    content: '> ';
    position: absolute;
    left: 10px;
    font-family: Consolas;
    font-size: 18px;
    font-weight: 800;
    color: #143d70;
}

/* Chat */
#chat {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 230px;
    background: #111;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border: none;
    padding: 16px;
    outline: none;
    border-radius: 0 5px 5px 0;
    font-family: "Ubuntu";
    font-size: 15px;
    color: #aaa;

    transform: translateX(-230px);
    transition: transform .2s;
}

/* Notifications */
#notifications {
    position: absolute;
    bottom: 80px;
    left: 0;
    list-style: none;
    padding: 0;
    pointer-events: none;

    max-height: 100%;
    overflow-y: auto;

    transform: translateY(80px);
    transition: transform .2s;
}

#notifications li {
    background: #ddd;
    font-family: "Ubuntu", Arial;
    font-size: 15px;
    color: #111;
    padding: 16px;
    margin-top: 10px;
    width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 0 5px 5px 0;
    opacity: 1;
    position: relative;
    left: -200px;
    transition: opacity 1s, left .1s;
    word-break: break-all;
}

#notifications li.error {
    background: #822;
    color: #ddd;
}

/* Toolbar */

#toolbar {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -175px;
    width: 350px;
    height: 50px;
    background: #111;
    color: #444;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    border-radius: 5px 5px 0 0;
    font-size: 0;
    opacity: 1;
    transition: opacity .5s;
}

#toolbar .slot {
    height: 50px;
    width: 50px;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 18px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;

    transition: color .2s;
}
#toolbar .slot:hover {
    background: #222;
    color: #aaa;
}

#toolbar #toast {
    position: fixed;
    left: 50%;
    bottom: 60px;
    background: #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    color: #333;
    padding: 10px 25px;
    font-family: "Ubuntu";
    font-size: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
    white-space: nowrap;
    pointer-events: none;
    border-radius: 1000px;
}

#toolbartip {
    display: none;
    position: fixed;
    bottom: 85px;
    left: 0;
    max-width: 100px;
    background: #111;
    font-family: "Ubuntu";
    font-size: 15px;
    color: #888;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px;
    text-align: center;

    opacity: 0;
    transform: translateY(30px);
    transition: transform .2s, opacity .2s;
}

#toolbartip:after {
    content: '';
    position: fixed;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #111 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
}

#toolbar .material-icons {
    font-size: 20px;
    margin-right: 5px;
}

#toolbar button {
    cursor: pointer;
    pointer-events: auto;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(0,0,0,.5);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    outline: none;
}

#toolbar button .material-icons {
    margin-right: 5px;
}

#toolbar #list {
    position: absolute;
    left: 0;
    bottom: 50px;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
    font-size: 15px;
    list-style: none;
    background: #111;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    border-radius: 5px;
    outline: none;
    max-height: 300px;
    overflow-y: auto;
}

#toolbar #list::-webkit-scrollbar-track {
    background: rgba(255,255,255,.1);
}

#toolbar #list::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.3);
    border-radius: 5px;
}

#toolbar #list li {
    padding: 8px;
    border-radius: 5px;
}

#toolbar #list li:hover, #toolbar #list li:active {
    background: #ddd;
}

/* Credits */

#credits {
    position: fixed;
    right: 0;
    bottom: 0;
    font-family: "Ubuntu", Arial;
    font-size: 14px;
    font-weight: 600;
    opacity: .8;
}

#credits span {
    position: relative;
    bottom: 4px;
    cursor: pointer;
}

#credits button {
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: color .2s;
}

#credits button:hover {
    color: #822;
}

/* Debug info */

#debugInfo {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #ddd;
    opacity: .95;
    font-family: "Ubuntu";
    font-size: 15px;
    -font-weight: 600;
    color: #111;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    pointer-events: none;
}

#debugInfo span {
    margin-left: 30px;
    float: right;
}

/* User list */
#userList {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #ddd;
    opacity: .95;
    font-family: "Ubuntu";
    font-size: 15px;
    -font-weight: 600;
    color: #111;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    pointer-events: none;
}

/* Component info */
#componentInfo {
    display: none;
    position: fixed;
    top: 100px;
    left: 100px;
    background: #ddd;
    font-family: "Ubuntu";
    font-size: 15px;
    color: #333;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px;
    text-align: center;

    transform: translateY(20px);
    opacity: 0;
    transition: transform .2s, opacity .2s;
}

#componentInfo:after {
    content: '';
    position: fixed;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ddd transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
}

#componentInfo h1 {
    font-size: 15px;
    font-weight: 600;
    color: #111;
    margin: 5px;
    text-align: center;
}

#componentInfo p {
    margin: 2px;
}

#componentInfo span {
    float: right;
    margin-left: 10px;
    opacity: .75;
}

/* Context menu */
#contextMenu {
    position: fixed;
    background: #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    outline: none;
    border-radius: 5px;

    opacity: 0;
    transition: opacity .2s;
}

#contextMenu li {
    font-family: "Ubuntu";
    font-size: 13px;
    color: #111;
    border-bottom: 1px solid #bbb;
    padding: 7px;
    cursor: pointer;
    white-space: nowrap
}

#contextMenu li.disabled {
    opacity: .5;
}

#contextMenu li:last-child {
    border: none;
}

#contextMenu .material-icons {
    color: #333;
    margin-right: 10px;
    vertical-align: -5px;
}

#contextMenu li:hover {
    background: rgba(0,0,0,.1);
}

/* Waypoints menu */
#waypointsMenu {
    position: fixed;
    background: #111;
    list-style: none;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    outline: none;
    max-height: 300px;
    overflow: auto;
    border-radius: 5px;

    opacity: 0;
    transition: opacity .2s;
}

#waypointsMenu li {
    font-family: "Ubuntu";
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #333;
    padding: 14px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
}

#waypointsMenu li:last-child {
    border: none;
}

#waypointsMenu li .remove {
    float: right;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    transition: color .2s;
}

#waypointsMenu li .remove:hover {
    color: #822;
}

#waypointsMenu li:hover {
    background: rgba(255,255,255,.1);
}

/* Tips */

.tip {
    display: none;
    position: fixed;
    background: #ddd;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px;
    font-family: "Ubuntu";
    max-width: 250px;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

/* Value balloon */
#hoverBalloon {
    display: none;
    position: fixed;
    left: 0;
    background: #111;
    font-family: "Ubuntu";
    font-size: 14px;
    color: #888;
    padding: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px;
    text-align: center;
    line-height: 16px;
    pointer-events: none;
    overflow: hidden;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity .2s, transform .2s;
}

#hoverBalloon:after {
    content: '';
    position: fixed;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #111 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
}

#hoverBalloon h1 {
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

#spectateIndicator {
    position: fixed;
    top: 0;
    left: 50%;
    font-family: "Ubuntu";
    font-size: 16px;
    display: none;
}

/* Loading screen */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(16,16,16,.5);
    text-align: center;
    padding-top: 20%;
    font-family: "Roboto Condensed";
    font-size: 30px;
    color: #fff;
}

/* "Use Chrome" screen */
#usechrome {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(221,221,221,.7);
    padding-top: 5%;
    text-align: center;
    z-index: 2000;
}

#usechrome h1 {
    font-family: "Ubuntu", Ubuntu, Arial;
    font-size: 50px;
    color: #444;
    margin-top: 20%;
}

#usechrome img {
    height: 50%;
    opacity: .5;
}